<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<!--sensors and their transforms-->
	<include file="GPS.launch"/>
	<include file="teensy3_2.launch"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="bno_imu" args="-0.37 0 0.57 0 0 1.57 base_link imu_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="ppp_gps" args="1.08 0 0.6 0 0 0 base_link gps" />

    <!-- delayed launch of navsat transform -->
    <node pkg="scorpion_localization" type="timed_roslaunch.sh" args="2 scorpion_localization navsat_transform.launch" name="timed_navsat_transform_launch" output="screen" />
    <!-- delayed launch of ekf -->
	<node pkg="scorpion_localization" type="timed_roslaunch.sh" args="2 scorpion_localization ekf.launch" name="timed_ekf_launch" output="screen" />

	<!-- for visualizations -->
	<include file="hector_trajectory.launch"/>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scorpion_localization)/launch/scorpion_localization.rviz"/> -->
    <!--if running ground truth-->
    <!--include file="fve_markers_odom_run3.launch"/-->
</launch>